*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-block-size: 100%;
}

body{
    margin: 0;
    block-size: 100%;
    font-size: 100%;
    line-height: 100%;
}

header{
    background-color: dimgrey;
    color: white;
    border: 5px solid black;
}

nav ul{
    padding: 0;
    margin: 0;
}

nav li{
    display: block;
}

nav a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem, 1rem;
    border-top: 1px solid white;
}

header .title{
    font-size: 1.5rem;
    padding: 1em;
    font-weight: bold;
}

main{
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

main h1{
    margin-top: 0;
}

.cards{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 1em;
}

.Card{
    border: 5px solid black;
}

.Card, .inner{
    padding: 0.5rem, 1rem;
}

.sidebar{
    padding: 0.5rem, 1rem;
    background-color: gray;
    color: white;
    border: 5px solid black;
}

@media screen and (min-width:40rem){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul{
        display: flex;
    }
    header a{
        border-top: none;
    }
    @media  and (min-width:80rem) {
        main{
            grid-template-columns: 1fr 1fr;
        }
    }   
}
